.App {
  text-align: center;
  /* background-color: aliceblue; */
  min-height: 100vh;
  box-sizing: border-box;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

.shake-animation {
  animation: shake 0.4s ease-in-out;
}

