.hero-slider-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.hero-slider-container .slick-dots {
  bottom: 30px;
}

.hero-slider-container .slick-dots li button:before {
  color: white;
  font-size: 12px;
  opacity: 0.5;
}

.hero-slider-container .slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .hero-slider-container .slick-dots {
    bottom: 20px;
  }
}
